openapi: 3.0.0
info:
  title: OS2Display
  version: '1.0'
  contact:
    name: ITKDev
    email: itk@mkb.aarhus.dk
  license:
    name: MIT
  description: API displaying content
servers:
  - url: 'http://os2display-api.local.itkdev.dk'
paths:
  '/v1/screen/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get screen information based on UUIDs
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/screen.v1.json
              examples:
                Screen 2:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6d05
                    title: Test screen 2
                    description: This is an test screen 2 description
                    regions:
                      - name: top
                        playlists:
                          - 497f6eca-6276-4993-bfeb-53cbbbba6d05
                      - name: buttom
                        playlists:
                          - 497f6eca-6276-4993-bfeb-53cbbbba6d11
                          - 497f6eca-6276-4993-bfeb-53cbaaba6f12
                    tags:
                      - itk
                      - screens
                      - test
                    modified: 1622535248
                    created: 1622524267
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                Screen 1:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: Test screen 1
                    description: This is an test screen 1 description
                    regions:
                      - name: center
                        playlists:
                          - 497f6eca-6276-4993-bfeb-53cbbbba6d10
                          - 497f6eca-6276-4993-bfeb-53cbaaba6f08
                    tags:
                      - itk
                      - screens
                      - test
                    modified: 1622535248
                    created: 1622524267
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-screen
      description: Retrieve basic screen information and regions configuraiton
      parameters: []
  /v1/screens:
    get:
      summary: Get screens
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  screens:
                    type: array
                    items:
                      $ref: ../model/screen.v1.json
                  offset:
                    type: integer
                    format: int32
                    default: 0
                    minimum: 0
                    readOnly: true
                  more:
                    type: boolean
                    default: false
              examples:
                screens:
                  value:
                    screens:
                      - id: 497f6eca-6276-4993-bfeb-53cbffba6f58
                        title: Test screen 1
                        description: This is an test screen 1 description
                        regions:
                          - name: center
                            channels:
                              - 497f6eca-6276-4993-bfeb-53cbbbba6d10
                              - 497f6eca-6276-4993-bfeb-53cbaaba6f08
                        tags:
                          - itk
                          - screens
                          - test
                        modified: 1622535248
                        created: 1622524267
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                      - id: 497f6eca-6276-4993-bfeb-53cbcbba6d12
                        title: Test screen 2
                        description: This is an test screen 2 description
                        regions:
                          - name: top
                            channels:
                              - 497f6eca-6276-4993-bfeb-53cbbbba6d05
                          - name: buttom
                            channels:
                              - 497f6eca-6276-4993-bfeb-53cbbbba6d11
                              - 497f6eca-6276-4993-bfeb-53cbaaba6f12
                        tags:
                          - itk
                          - screens
                          - test
                        modified: 1622535248
                        created: 1622524267
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                    offset: 0
                    more: false
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-screens
      description: Get screeen with pagination
      parameters:
        - schema:
            type: integer
            format: int32
            minimum: 0
          in: query
          name: limit
          required: true
        - schema:
            type: integer
            default: '0'
          in: query
          name: offset
          required: true
  '/v1/playlist/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/playlist.v1.json
              examples:
                example-1:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: string
                    description: string
                    tags:
                      - string
                    modified: 0
                    created: 0
                    modifiedBy: string
                    createdBy: string
                    slides:
                      - id: string
                        weight: 0
                        duration: 0
                    published:
                      from: 0
                      to: 0
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-playlist-id
      description: Get playlist base on UUID
  /v1/playlists:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  playlists:
                    type: array
                    items:
                      $ref: ../model/playlist.v1.json
                  offset:
                    type: integer
                    format: int32
                    minimum: 0
                    readOnly: true
                  more:
                    type: boolean
                required:
                  - playlists
                  - offset
                  - more
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-playlists
      parameters:
        - schema:
            type: integer
            minimum: 0
            format: int32
          in: query
          name: offset
          required: true
        - schema:
            type: integer
            format: int32
            minimum: 0
          in: query
          name: limit
          required: true
  '/v1/slide/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/slide.v1.json
              examples:
                Slide 1:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: Slide 1
                    description: This is the first slide named one
                    tags:
                      - itk
                      - mock
                      - example
                    modified: 1622555123
                    created: 1622554031
                    modifiedBy: Ole Olesen
                    createdBy: Jens Jensen
                    template:
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      options:
                        - fade: false
                        - icon: true
                          url: 'http://test.local.itkdev.dk/icon.png'
                    duration: 45
                    content:
                      text: This is slide content
                      media: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    published: 1
                Slide 2:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: Slide 2
                    description: This is the next slide named two
                    tags:
                      - itk
                      - mock
                      - example
                    modified: 1622555475
                    created: 1622553404
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    template:
                      id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                      options:
                        - fade: true
                    duration: 90
                    content:
                      text: This is slide content text
                      media: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    published: 1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-slide-id
      description: ''
  /v1/slides:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  slides:
                    type: array
                    items:
                      $ref: ../model/slide.v1.json
                  offset:
                    type: integer
                    format: int32
                    minimum: 0
                    readOnly: true
                  more:
                    type: boolean
                required:
                  - offset
                  - more
              examples:
                Slides:
                  value:
                    slides:
                      - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        title: string
                        description: string
                        tags:
                          - string
                        modified: 0
                        created: 0
                        modifiedBy: string
                        createdBy: string
                        template:
                          id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                          options:
                            - {}
                        duration: 0
                        content: {}
                        published: 0
                    offset: 0
                    more: true
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-slides
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: true
        - schema:
            type: integer
            minimum: 0
          in: query
          name: limit
          required: true
  '/v1/template/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/template.v1.json
              examples:
                Template 1:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: Template 1
                    description: This is a image example template
                    tags:
                      - itk
                      - mock
                    modified: 1622555659
                    created: 1622552649
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olensen
                    icon: 'http://templates.itkdev.dk/image/icon.png'
                    resources:
                      component: 'http://templates.itkdev.dk/image/image.js'
                      assest:
                        - type: css
                          url: 'http://templates.itkdev.dk/image/image.css'
                      options:
                        fade: true
                      content:
                        text: This is a template placeholder text
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-template-id
  /v1/templates:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: ../model/template.v1.json
                  offset:
                    type: integer
                    minimum: 0
                    format: int32
                    readOnly: true
                  more:
                    type: boolean
                required:
                  - offset
                  - more
              examples:
                Templates:
                  value:
                    templates:
                      - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        title: string
                        description: string
                        tags:
                          - string
                        modified: 0
                        created: 0
                        modifiedBy: string
                        createdBy: string
                        icon: 'http://example.com'
                        resources:
                          component: 'http://example.com'
                          assest:
                            - type: string
                              url: 'http://example.com'
                          options: {}
                          content: {}
                    offset: 0
                    more: true
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-templates
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: true
        - schema:
            type: integer
            minimum: 0
          in: query
          name: limit
          required: true
  '/v1/media/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/media.v1.json
              examples:
                Image:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: string
                    description: string
                    tags:
                      - string
                    modified: 0
                    created: 0
                    modifiedBy: string
                    createdBy: string
                    assets:
                      - type: string
                        uri: 'http://example.com'
                Video:
                  value:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    title: string
                    description: string
                    tags:
                      - string
                    modified: 0
                    created: 0
                    modifiedBy: string
                    createdBy: string
                    assets:
                      - type: string
                        uri: 'http://example.com'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-media-id
  /v1/media:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  media:
                    type: array
                    items:
                      $ref: ../model/media.v1.json
                  offset:
                    type: integer
                    format: int32
                    minimum: 0
                    readOnly: true
                  limit:
                    type: boolean
                required:
                  - offset
                  - limit
              examples:
                Media:
                  value:
                    media:
                      - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                        title: string
                        description: string
                        tags:
                          - string
                        modified: 0
                        created: 0
                        modifiedBy: string
                        createdBy: string
                        assets:
                          - type: string
                            uri: 'http://example.com'
                    offset: 0
                    limit: true
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-media
      parameters:
        - schema:
            type: integer
            format: int32
            minimum: 0
          in: query
          name: offset
          required: true
        - schema:
            type: integer
          in: query
          name: limit
components:
  schemas: {}
  parameters: {}
  examples: {}
  responses:
    '404':
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            '1':
              value:
                message: Not found
    '500':
      description: Internal error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            '1':
              value:
                message: Unknown internal application error
      headers: {}
  securitySchemes: {}
