openapi: 3.0.0
info:
  title: OS2Display
  version: '1.0'
  contact:
    name: ITKDev
    email: itk@mkb.aarhus.dk
  license:
    name: MIT
  description: API displaying content
servers:
  - url: 'http://os2display-api.local.itkdev.dk'
paths:
  /v1/screens:
    get:
      summary: Get screens
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@id':
                    type: string
                    default: /v1/screens
                  '@type':
                    type: string
                    default: 'hydra:Collection'
                  'hydra:member':
                    type: array
                    items:
                      $ref: ../model/screen.v1.json
                  'hydra:totalItems':
                    type: integer
                  'hydra:view':
                    type: object
                    required:
                      - '@id'
                      - '@type'
                      - 'hydra:first'
                      - 'hydra:last'
                      - 'hydra:next'
                    properties:
                      '@id':
                        type: string
                      '@type':
                        type: string
                        default: 'hydra:PartialCollectionView'
                      'hydra:first':
                        type: string
                      'hydra:last':
                        type: string
                      'hydra:next':
                        type: string
                required:
                  - '@id'
                  - '@type'
                  - 'hydra:member'
                  - 'hydra:totalItems'
                  - 'hydra:view'
              examples:
                Screens:
                  value:
                    '@context': /contexts/Screen
                    '@id': /v1/screens
                    '@type': 'hydra:Collection'
                    'hydra:member':
                      - '@context': /contexts/Screen
                        '@id': /v1/screen/497f6eca-6276-1596-bfeb-53ceb43a6f54
                        title: Test screen 1
                        description: This is an test screen 1 description
                        size: 50
                        dimensions:
                          width: 1920
                          height: 1080
                        layout: '/v1/layout/{id}'
                        location: M2.3
                        regions:
                          - /v1/screen/497f6eca-6276-1596-bfeb-53ceb43a6f54/region/region1/playlist
                        tags:
                          - itk
                          - screens
                          - test
                        modified: 1622535248
                        created: 1622524267
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                      - '@context': /contexts/Screen
                        '@id': /v1/screen/854f6ecb-6276-6854-bfeb-53cffffa6d1e
                        title: Test screen 2
                        description: This is an test screen 2 description
                        size: 75
                        dimensions:
                          width: 1920
                          height: 1080
                        layout: '/v1/layout/{id}'
                        location: M2.5
                        regions:
                          - /v1/screen/854f6ecb-6276-6854-bfeb-53cffffa6d1e/region/region1/playlist
                          - /v1/screen/854f6ecb-6276-6854-bfeb-53cffffa6d1e/region/region2/playlist
                        tags:
                          - itk
                          - screens
                          - test
                        modified: 1622535248
                        created: 1622524267
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                    'hydra:totalItems': 2
                    'hydra:view':
                      '@id': /v1/screens?page=1
                      '@type': 'hydra:PartialCollectionView'
                      'hydra:first': /v1/screens?page=1
                      'hydra:last': /v1/screens?page=1
                      'hydra:next': /v1/screens?page=1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-screens
      description: Get screeen with pagination
      parameters:
        - schema:
            type: integer
            format: int32
            minimum: 0
            default: 1
          in: query
          name: page
          required: true
  '/v1/screen/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
        description: The UUID for the screen to get
    get:
      summary: Get screen information
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                $ref: ../model/screen.v1.json
              examples:
                Screen 1:
                  value:
                    '@context': /contexts/Screen
                    '@id': /v1/screen/497f6eca-6276-1596-bfeb-53ceb43a6f54
                    title: Test screen 1
                    description: This is an test screen 1 description
                    size: 50
                    dimensions:
                      width: 1920
                      height: 1080
                    layout: '/v1/layout/{id}'
                    location: M2.3
                    regions:
                      - /v1/screen/497f6eca-6276-1596-bfeb-53ceb43a6f54/region/region1/playlist
                    tags:
                      - itk
                      - screens
                      - test
                    modified: 1622535248
                    created: 1622524267
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                Screen 2:
                  value:
                    '@context': /contexts/Screen
                    '@id': /v1/screen/854f6ecb-6276-6854-bfeb-53cffffa6d1e
                    title: Test screen 2
                    description: This is an test screen 2 description
                    size: 75
                    dimensions:
                      width: 1920
                      height: 1080
                    layout: '/v1/layout/{id}'
                    location: M2.5
                    regions:
                      - /v1/screen/854f6ecb-6276-6854-bfeb-53cffffa6d1e/region/region1/playlist
                      - /v1/screen/854f6ecb-6276-6854-bfeb-53cffffa6d1e/region/region2/playlist
                    tags:
                      - itk
                      - screens
                      - test
                    modified: 1622535248
                    created: 1622524267
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-screen
      description: Retrieve basic screen information and regions configuraiton
      parameters: []
  '/v1/screen/{id}/region/{regionId}/playlist':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The UUID for the screen to get playlist from
      - schema:
          type: string
        name: regionId
        in: path
        description: The UUID for the playlist to get
        required: true
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@id':
                    type: string
                    default: /v1/playlists
                  '@type':
                    type: string
                    default: 'hydra:Collection'
                  'hydra:member':
                    type: array
                    items:
                      $ref: ../model/playlist.v1.json
                  'hydra:totalItems':
                    type: integer
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                      '@type':
                        type: string
                        default: 'hydra:PartialCollectionView'
                      'hydra:first':
                        type: string
                      'hydra:last':
                        type: string
                      'hydra:next':
                        type: string
              examples:
                Playlists:
                  value:
                    '@context': /contexts/playlist
                    '@id': /v1/playlists
                    '@type': 'hydra:Collection'
                    'hydra:member':
                      - '@id': /v1/playlist/29ff6eca-8778-6789-bfeb-53e4bf4a6457
                        title: The first playlist
                        description: This is an playlist wiht image and video
                        tags:
                          - itk
                          - video
                          - mock
                        modified: 1622557486
                        created: 1622557262
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        published:
                          from: 1622557262
                          to: 1622588254
                    'hydra:totalItems': 1
                    'hydra:view':
                      '@id': /v1/playlists?page=1
                      '@type': 'hydra:PartialCollectionView'
                      'hydra:first': /v1/playlists?page=1
                      'hydra:last': /v1/playlists?page=1
                      'hydra:next': /v1/playlists?page=1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-screen-id-region-regionId-playlist
  /v1/playlists:
    get:
      summary: Get playlists based on offset
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@id':
                    type: string
                    default: /v1/playlists
                  '@type':
                    type: string
                    default: 'hydra:Collection'
                  'hydra:member':
                    type: array
                    items:
                      $ref: ../model/playlist.v1.json
                  'hydra:totalItems':
                    type: integer
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                      '@type':
                        type: string
                        default: 'hydra:PartialCollectionView'
                      'hydra:first':
                        type: string
                      'hydra:last':
                        type: string
                      'hydra:next':
                        type: string
              examples:
                Playlists:
                  value:
                    '@context': /contexts/playlist
                    '@id': /v1/playlists
                    '@type': 'hydra:Collection'
                    'hydra:member':
                      - '@id': /v1/playlist/29ff6eca-8778-6789-bfeb-53e4bf4a6457
                        title: The first playlist
                        description: This is an playlist wiht image and video
                        tags:
                          - itk
                          - video
                          - mock
                        modified: 1622557486
                        created: 1622557262
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        published:
                          from: 1622557262
                          to: 1622588254
                    'hydra:totalItems': 1
                    'hydra:view':
                      '@id': /v1/playlists?page=1
                      '@type': 'hydra:PartialCollectionView'
                      'hydra:first': /v1/playlists?page=1
                      'hydra:last': /v1/playlists?page=1
                      'hydra:next': /v1/playlists?page=1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-playlists
      parameters:
        - schema:
            type: integer
            minimum: 0
            format: int32
            default: 1
          in: query
          name: page
          required: true
      description: Get playlists based on offset
  '/v1/playlist/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get single playlist
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                $ref: ../model/playlist.v1.json
              examples:
                Playlist 1:
                  value:
                    '@context': /contexts/playlist
                    '@id': /v1/playlist/29ff6eca-8778-6789-bfeb-53e4bf4a6457
                    title: The first playlist
                    description: This is an playlist wiht image and video
                    tags:
                      - itk
                      - video
                      - mock
                    modified: 1622557486
                    created: 1622557262
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    published:
                      from: 1622557262
                      to: 1622588254
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-playlist-id
      description: Get single playlist
  /v1/slides:
    get:
      summary: Get slides
      tags:
        - Slide
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@id':
                    type: string
                    default: /v1/slides
                  '@type':
                    type: string
                    default: 'hydra:Collection'
                  'hydra:member':
                    type: array
                    items:
                      $ref: ../model/slide.v1.json
                  'hydra:totalItems':
                    type: integer
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                      '@type':
                        type: string
                        default: 'hydra:PartialCollectionView'
                      'hydra:first':
                        type: string
                      'hydra:last':
                        type: string
                      'hydra:next':
                        type: string
              examples:
                Slides:
                  value:
                    '@id': /v1/slides
                    '@type': 'hydra:Collection'
                    'hydra:member':
                      - '@context': /contexts/Slide
                        '@id': /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10
                        title: Image Slide
                        description: This is the first slide named one
                        tags:
                          - itk
                          - mock
                          - example
                        modified: 1622555123
                        created: 1622554031
                        modifiedBy: Ole Olesen
                        createdBy: Jens Jensen
                        template:
                          '@id': /v1/template/457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                          options:
                            - fade: false
                            - icon: true
                              url: 'http://test.local.itkdev.dk/icon.png'
                        onFollowingScreens: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/screens
                        playlists: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/playlists
                        duration: 4500
                        published: 1622555123
                        content:
                          text: This is slide content
                          media: /v1/media/497f6eca-4576-4883-cfeb-53cbffba6f08
                      - '@context': /contexts/Slide
                        '@id': /v1/slide/787f6ece-6276-5982-beeb-53cba4f36f12
                        title: Video Slide
                        description: This is the next slide named two
                        tags:
                          - itk
                          - mock
                          - example
                        modified: 1622555475
                        created: 1622553404
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        template:
                          '@id': /v1/template/457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                          options:
                            - fade: true
                        onFollowingScreens: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/screens
                        playlists: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/playlists
                        duration: 90000
                        published: 1622555475
                        content:
                          media: /v1/media/597f6eca-4576-1454-cf15-52cb3eba6b85
                    'hydra:totalItems': 2
                    'hydra:view':
                      '@id': /v1/slides?page=1
                      '@type': 'hydra:PartialCollectionView'
                      'hydra:first': /v1/slides?page=1
                      'hydra:last': /v1/slides?page=1
                      'hydra:next': /v1/slides?page=1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-slides
      parameters:
        - schema:
            type: integer
            minimum: 0
            format: int32
            default: 1
          in: query
          name: page
          required: true
      description: Get slides based on offset
  '/v1/slide/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get slide
      tags:
        - Slide
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                $ref: ../model/slide.v1.json
              examples:
                Slide image:
                  value:
                    '@context': /contexts/Slide
                    '@id': /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10
                    title: Image Slide
                    description: This is the first slide named one
                    tags:
                      - itk
                      - mock
                      - example
                    modified: 1622555123
                    created: 1622554031
                    modifiedBy: Ole Olesen
                    createdBy: Jens Jensen
                    template:
                      '@id': /v1/template/457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                      options:
                        - fade: false
                        - icon: true
                          url: 'http://test.local.itkdev.dk/icon.png'
                    onFollowingScreens: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/screens
                    playlists: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/playlists
                    duration: 45000
                    published: 1622555123
                    content:
                      text: This is slide content
                      media: /v1/media/497f6eca-4576-4883-cfeb-53cbffba6f08
                Slide video:
                  value:
                    '@context': /contexts/Slide
                    '@id': /v1/slide/787f6ece-6276-5982-beeb-53cba4f36f12
                    title: Video Slide
                    description: This is the next slide named two
                    tags:
                      - itk
                      - mock
                      - example
                    modified: 1622555475
                    created: 1622553404
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    template:
                      '@id': /v1/template/457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                      options:
                        - fade: true
                    onFollowingScreens: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/screens
                    playlists: /v1/slide/a97f6ec4-5278-4993-bfeb-53cdedea6d10/playlists
                    duration: 90000
                    published: 1622555475
                    content:
                      media: /v1/media/597f6eca-4576-1454-cf15-52cb3eba6b85
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-slide-id
      description: Get single slide based on UUID
  /v1/templates:
    get:
      summary: Get list of templates
      tags:
        - Template
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@id':
                    type: string
                  '@type':
                    type: string
                    default: 'hydra:Collection'
                  'hydra:member':
                    type: array
                    items:
                      $ref: ../model/template.v1.json
                  'hydra:totalItems':
                    type: integer
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                      '@type':
                        type: string
                        default: 'hydra:PartialCollectionView'
                      'hydra:first':
                        type: string
                      'hydra:last':
                        type: string
                      'hydra:next':
                        type: string
              examples:
                Templates:
                  value:
                    '@id': /v1/templates
                    '@type': 'hydra:Collection'
                    'hydra:member':
                      - '@id': /v1/template/457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                        title: Template 1
                        description: This is a image example template
                        tags:
                          - itk
                          - mock
                        modified: 1622555659
                        created: 1622552649
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olensen
                        icon: 'http://templates.itkdev.dk/image/icon.png'
                        resources:
                          admin: 'http://templates.itkdev.dk/image/form.json'
                          schema: 'http://templates.itkdev.dk/image/schema.json'
                          component: 'http://templates.itkdev.dk/image/image.js'
                          assest:
                            - type: css
                              url: 'http://templates.itkdev.dk/image/image.css'
                          options:
                            fade: true
                          content:
                            text: This is a template placeholder text
                    'hydra:totalItems': 1
                    'hydra:view':
                      '@id': /v1/templates?page=1
                      '@type': 'hydra:PartialCollectionView'
                      'hydra:first': /v1/templates?page=1
                      'hydra:last': /v1/templates?page=1
                      'hydra:next': /v1/templates?page=1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-templates
      parameters:
        - schema:
            type: integer
            minimum: 0
            format: int32
            default: 1
          in: query
          name: page
          required: true
      description: Get templates base on offset
  '/v1/template/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get template
      tags:
        - Template
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                $ref: ../model/template.v1.json
              examples:
                Template 1:
                  value:
                    '@id': /v1/template/457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                    title: Template 1
                    description: This is a image example template
                    tags:
                      - itk
                      - mock
                    modified: 1622555659
                    created: 1622552649
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olensen
                    icon: 'http://templates.itkdev.dk/image/icon.png'
                    resources:
                      admin: 'http://templates.itkdev.dk/image/form.json'
                      schema: 'http://templates.itkdev.dk/image/schema.json'
                      component: 'http://templates.itkdev.dk/image/image.js'
                      assets:
                        - type: css
                          url: 'http://templates.itkdev.dk/image/image.css'
                      options:
                        fade: true
                      content:
                        text: This is a template placeholder text
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-template-id
      description: Get template based on UUID
  /v1/media:
    get:
      summary: Get list of media objects
      tags:
        - Media
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                properties:
                  '@id':
                    type: string
                  '@type':
                    type: string
                    default: 'hydra:Collection'
                  'hydra:member':
                    type: array
                    items:
                      $ref: ../model/media.v1.json
                  'hydra:totalItems':
                    type: integer
                  'hydra:view':
                    type: object
                    properties:
                      '@id':
                        type: string
                      '@type':
                        type: string
                        default: 'hydra:PartialCollectionView'
                      'hydra:first':
                        type: string
                      'hydra:last':
                        type: string
                      'hydra:next':
                        type: string
              examples:
                Media:
                  value:
                    '@context': /contexts/Media
                    '@id': /v1/media
                    '@type': 'hydra:Collection'
                    'hydra:member':
                      - '@context': /contexts/Media
                        '@id': /v1/media/497f6eca-4576-4883-cfeb-53cbffba6f08
                        title: Sunset image
                        description: An image of a sunset
                        license: ''
                        tags:
                          - itk
                          - example
                        modified: 1622556728
                        created: 1622550342
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        assets:
                          - type: image/png
                            uri: 'https://upload.wikimedia.org/wikipedia/commons/0/00/Sunset%2C_beach%2C_Northern_Territory_.png'
                            dimensions:
                              width: 768
                              height: 1024
                            sha: dsfge32424asdsa
                            size: '450222'
                      - '@id': /v1/media/597f6eca-4576-1454-cf15-52cb3eba6b85
                        title: Video
                        description: The bunny example movie
                        tags:
                          - itk
                          - mock
                        modified: 1622554784
                        created: 1622556728
                        modifiedBy: Ole Olesen
                        createdBy: Jens Jensen
                        assets:
                          - type: video/mp4
                            uri: 'https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4'
                    'hydra:totalItems': 2
                    'hydra:view':
                      '@id': /v1/media?page=1
                      '@type': 'hydra:PartialCollectionView'
                      'hydra:first': /v1/media?page=1
                      'hydra:last': /v1/media?page=1
                      'hydra:next': /v1/media?page=1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-media
      parameters:
        - schema:
            type: integer
            format: int32
            minimum: 0
            default: 1
          in: query
          name: page
          required: true
      description: Get media objects base on offset
  '/v1/media/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Retrieve a Media resource
      tags:
        - Media
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                $ref: ../model/media.v1.json
              examples:
                Image:
                  value:
                    '@context': /contexts/Media
                    '@id': /v1/media/497f6eca-4576-4883-cfeb-53cbffba6f08
                    title: Sunset image
                    description: An image of a sunset
                    license: ''
                    tags:
                      - itk
                      - example
                    modified: 1622556728
                    created: 1622550342
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    assets:
                      - type: image/png
                        uri: 'https://upload.wikimedia.org/wikipedia/commons/0/00/Sunset%2C_beach%2C_Northern_Territory_.png'
                        dimensions:
                          width: 768
                          height: 1024
                        sha: dsfge32424asdsa
                        size: '450222'
                Video:
                  value:
                    '@context': /contexts/Media
                    '@id': /v1/media/597f6eca-4576-1454-cf15-52cb3eba6b85
                    title: Video
                    description: The bunny example movie
                    license: ''
                    tags:
                      - itk
                      - mock
                    modified: 1622554784
                    created: 1622556728
                    modifiedBy: Ole Olesen
                    createdBy: Jens Jensen
                    assets:
                      - type: video/mp4
                        uri: 'https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4'
                        dimensions:
                          width: 1920
                          height: 1080
                        sha: dsfge32424asdsa
                        size: '450222'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-media-id
      description: Retrieves a Media resource
  '/v1/layout/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The UUID for the screen layout to fetch
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/layout.v1.json
              examples:
                4-way-split:
                  value:
                    '@context': /contexts/Layout
                    '@id': /v1/layout/497f6ecf-642-4883-cfeb-53cbf3bf82a9
                    title: 4 way split
                    grid:
                      rows: 2
                      columns: 2
                    regions:
                      - id: region1
                        name: Region 1
                        gridArea:
                          - a
                      - id: region2
                        name: Region 2
                        gridArea:
                          - b
                      - id: region3
                        name: Region 3
                        gridArea:
                          - c
                      - id: region4
                        name: Region 4
                        gridArea:
                          - d
                Complicated:
                  value:
                    '@context': /contexts/Layout
                    '@id': /v1/layout/875f6ecf-642-4638-cfeb-53cbf3feab234
                    title: 4 way split
                    grid:
                      rows: 4
                      columns: 12
                    regions:
                      - id: region1
                        name: Region 1
                        gridArea:
                          - a
                          - d
                      - id: region2
                        name: Region 2
                        gridArea:
                          - e
                          - m
                      - id: region3
                        name: Region 3
                        gridArea:
                          - q
                          - 'y'
                      - id: region4
                        name: Region 4
                        gridArea:
                          - cc
                          - oo
                      - id: region5
                        name: Region 5
                        gridArea:
                          - ss
                          - vv
                      - id: region6
                        name: Region 6
                        gridArea:
                          - f
                          - rr
                3x3:
                  value:
                    '@context': /contexts/Layout
                    '@id': /v1/layout/1370fecf-642-4883-abcf-53cbf3bf8233
                    title: 3x3
                    grid:
                      rows: 3
                      columns: 3
                    regions:
                      - id: region1
                        name: Region 1
                        gridArea:
                          - a
                      - id: region2
                        name: Region 2
                        gridArea:
                          - b
                      - id: region3
                        name: Region 3
                        gridArea:
                          - c
                      - id: region4
                        name: Region 4
                        gridArea:
                          - d
                      - id: region5
                        name: Region 5
                        gridArea:
                          - e
                      - id: region6
                        name: Region 6
                        gridArea:
                          - f
                      - id: region7
                        name: Region 7
                        gridArea:
                          - g
                      - id: region8
                        name: Region 8
                        gridArea:
                          - h
                      - id: region9
                        name: Region 9
                        gridArea:
                          - i
      operationId: get-v1-layout-id
components:
  schemas: {}
  parameters: {}
  examples: {}
  responses:
    '404':
      description: Not found
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            '1':
              value:
                message: Not found
    '500':
      description: Internal error
      content:
        application/ld+json:
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            '1':
              value:
                message: Unknown internal application error
      headers: {}
  securitySchemes: {}
