openapi: 3.0.0
info:
  title: OS2Display
  version: '1.0'
  contact:
    name: ITKDev
    email: itk@mkb.aarhus.dk
  license:
    name: MIT
  description: API displaying content
servers:
  - url: 'http://os2display-api.local.itkdev.dk'
paths:
  '/v1/screen/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get screen information
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/screen.v1.json
              examples:
                Screen 1:
                  value:
                    id: 497f6eca-6276-1596-bfeb-53ceb43a6f54
                    title: Test screen 1
                    description: This is an test screen 1 description
                    regions:
                      - name: center
                        playlists:
                          - 29ff6eca-8778-6789-bfeb-53e4bf4a6457
                    tags:
                      - itk
                      - screens
                      - test
                    modified: 1622535248
                    created: 1622524267
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                Screen 2:
                  value:
                    id: 854f6ecb-6276-6854-bfeb-53cffffa6d1e
                    title: Test screen 2
                    description: This is an test screen 2 description
                    regions:
                      - name: top
                        playlists:
                          - 497f6eca-6276-4993-bfeb-53cbbbba6d05
                      - name: buttom
                        playlists:
                          - 29ff6eca-8778-6789-bfeb-53e4bf4a6457
                    tags:
                      - itk
                      - screens
                      - test
                    modified: 1622535248
                    created: 1622524267
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-screen
      description: Retrieve basic screen information and regions configuraiton
      parameters: []
  /v1/screens:
    get:
      summary: Get screens
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  screens:
                    type: array
                    items:
                      $ref: ../model/screen.v1.json
                  offset:
                    type: integer
                    format: int32
                    default: 0
                    minimum: 0
                    readOnly: true
                  more:
                    type: boolean
                    default: false
              examples:
                screens:
                  value:
                    screens:
                      - id: 497f6eca-6276-4993-bfeb-53cbffba6f58
                        title: Test screen 1
                        description: This is an test screen 1 description
                        regions:
                          - name: center
                            channels:
                              - 497f6eca-6276-4993-bfeb-53cbbbba6d10
                              - 497f6eca-6276-4993-bfeb-53cbaaba6f08
                        tags:
                          - itk
                          - screens
                          - test
                        modified: 1622535248
                        created: 1622524267
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                      - id: 497f6eca-6276-4993-bfeb-53cbcbba6d12
                        title: Test screen 2
                        description: This is an test screen 2 description
                        regions:
                          - name: top
                            channels:
                              - 497f6eca-6276-4993-bfeb-53cbbbba6d05
                          - name: buttom
                            channels:
                              - 497f6eca-6276-4993-bfeb-53cbbbba6d11
                              - 497f6eca-6276-4993-bfeb-53cbaaba6f12
                        tags:
                          - itk
                          - screens
                          - test
                        modified: 1622535248
                        created: 1622524267
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                    offset: 0
                    more: false
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-screens
      description: Get screeen with pagination
      parameters:
        - schema:
            type: integer
            format: int32
            minimum: 0
          in: query
          name: limit
          required: true
        - schema:
            type: integer
            default: 0
          in: query
          name: offset
          required: true
  '/v1/playlist/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get single playlist
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/playlist.v1.json
              examples:
                Playlist 1:
                  value:
                    id: 29ff6eca-8778-6789-bfeb-53e4bf4a6457
                    title: The first playlist
                    description: This is an playlist wiht image and video
                    tags:
                      - itk
                      - video
                      - mock
                    modified: 1622557486
                    created: 1622557262
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    slides:
                      - id: 497f6eca-4576-4883-cfeb-53cbffba6f08
                        weight: 5
                        duration: 10
                      - id: 597f6eca-4576-1454-cf15-52cb3eba6b85
                        weight: 10
                        duration: 125
                    published:
                      from: 1622557262
                      to: 1622588254
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-playlist-id
      description: Get single playlist
  /v1/playlists:
    get:
      summary: Get playlists based on offset
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  playlists:
                    type: array
                    items:
                      $ref: ../model/playlist.v1.json
                  offset:
                    type: integer
                    format: int32
                    minimum: 0
                    readOnly: true
                  more:
                    type: boolean
                required:
                  - playlists
                  - offset
                  - more
              examples:
                Playlists:
                  value:
                    playlists:
                      - id: 29ff6eca-8778-6789-bfeb-53e4bf4a6457
                        title: The first playlist
                        description: This is an playlist wiht image and video
                        tags:
                          - itk
                          - video
                          - mock
                        modified: 1622557486
                        created: 1622557262
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        slides:
                          - id: 497f6eca-4576-4883-cfeb-53cbffba6f08
                            weight: 5
                            duration: 10
                          - id: 597f6eca-4576-1454-cf15-52cb3eba6b85
                            weight: 10
                            duration: 125
                        published:
                          from: 1622557262
                          to: 1622588254
                    offset: 0
                    more: true
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-playlists
      parameters:
        - schema:
            type: integer
            minimum: 0
            format: int32
          in: query
          name: offset
          required: true
        - schema:
            type: integer
            format: int32
            minimum: 0
          in: query
          name: limit
          required: true
      description: Get playlists based on offset
  '/v1/slide/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get slide
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/slide.v1.json
              examples:
                Slide image:
                  value:
                    id: a97f6ec4-5278-4993-bfeb-53cdedea6d10
                    title: Image Slide
                    description: This is the first slide named one
                    tags:
                      - itk
                      - mock
                      - example
                    modified: 1622555123
                    created: 1622554031
                    modifiedBy: Ole Olesen
                    createdBy: Jens Jensen
                    template:
                      id: 457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                      options:
                        - fade: false
                        - icon: true
                          url: 'http://test.local.itkdev.dk/icon.png'
                    duration: 45
                    content:
                      text: This is slide content
                      media: 497f6eca-4576-4883-cfeb-53cbffba6f08
                    published: 1
                Slide video:
                  value:
                    id: 787f6ece-6276-5982-beeb-53cba4f36f12
                    title: Video Slide
                    description: This is the next slide named two
                    tags:
                      - itk
                      - mock
                      - example
                    modified: 1622555475
                    created: 1622553404
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    template:
                      id: 457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                      options:
                        - fade: true
                    duration: 90
                    content:
                      media: 597f6eca-4576-1454-cf15-52cb3eba6b85
                    published: 1
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-slide-id
      description: Get single slide based on UUID
  /v1/slides:
    get:
      summary: Get slides
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  slides:
                    type: array
                    items:
                      $ref: ../model/slide.v1.json
                  offset:
                    type: integer
                    format: int32
                    minimum: 0
                    readOnly: true
                  more:
                    type: boolean
                required:
                  - offset
                  - more
              examples:
                Slides:
                  value:
                    slides:
                      - id: a97f6ec4-5278-4993-bfeb-53cdedea6d10
                        title: Image Slide
                        description: This is the first slide named one
                        tags:
                          - itk
                          - mock
                          - example
                        modified: 1622555123
                        created: 1622554031
                        modifiedBy: Ole Olesen
                        createdBy: Jens Jensen
                        template:
                          id: 457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                          options:
                            - fade: false
                            - icon: true
                              url: 'http://test.local.itkdev.dk/icon.png'
                        duration: 45
                        content:
                          text: This is slide content
                          media: 497f6eca-4576-4883-cfeb-53cbffba6f08
                        published: 1
                      - id: 787f6ece-6276-5982-beeb-53cba4f36f12
                        title: Video Slide
                        description: This is the next slide named two
                        tags:
                          - itk
                          - mock
                          - example
                        modified: 1622555475
                        created: 1622553404
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        template:
                          id: 457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                          options:
                            - fade: true
                        duration: 90
                        content:
                          media: 597f6eca-4576-1454-cf15-52cb3eba6b85
                        published: 1
                    offset: 0
                    more: false
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-slides
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: true
        - schema:
            type: integer
            minimum: 0
          in: query
          name: limit
          required: true
      description: Get slides based on offset
  '/v1/template/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get template
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/template.v1.json
              examples:
                Template 1:
                  value:
                    id: 457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                    title: Template 1
                    description: This is a image example template
                    tags:
                      - itk
                      - mock
                    modified: 1622555659
                    created: 1622552649
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olensen
                    icon: 'http://templates.itkdev.dk/image/icon.png'
                    resources:
                      component: 'http://templates.itkdev.dk/image/image.js'
                      assest:
                        - type: css
                          url: 'http://templates.itkdev.dk/image/image.css'
                      options:
                        fade: true
                      content:
                        text: This is a template placeholder text
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-template-id
      description: Get template based on UUID
  /v1/templates:
    get:
      summary: Get list of templates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: ../model/template.v1.json
                  offset:
                    type: integer
                    minimum: 0
                    format: int32
                    readOnly: true
                  more:
                    type: boolean
                required:
                  - offset
                  - more
              examples:
                Templates:
                  value:
                    templates:
                      - id: 457d6ecb-6378-4299-bfcb-53cbaaaa6f65
                        title: Template 1
                        description: This is a image example template
                        tags:
                          - itk
                          - mock
                        modified: 1622555659
                        created: 1622552649
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olensen
                        icon: 'http://templates.itkdev.dk/image/icon.png'
                        resources:
                          component: 'http://templates.itkdev.dk/image/image.js'
                          assest:
                            - type: css
                              url: 'http://templates.itkdev.dk/image/image.css'
                          options:
                            fade: true
                          content:
                            text: This is a template placeholder text
                    offset: 0
                    more: true
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-templates
      parameters:
        - schema:
            type: integer
            minimum: 0
          in: query
          name: offset
          required: true
        - schema:
            type: integer
            minimum: 0
          in: query
          name: limit
          required: true
      description: Get templates base on offset
  '/v1/media/{id}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: id
        in: path
        required: true
    get:
      summary: Get media
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../model/media.v1.json
              examples:
                Image:
                  value:
                    id: 497f6eca-4576-4883-cfeb-53cbffba6f08
                    title: Sunset image
                    description: An image of a sunset
                    tags:
                      - itk
                      - example
                    modified: 1622556728
                    created: 1622550342
                    modifiedBy: Jens Jensen
                    createdBy: Ole Olesen
                    assets:
                      - type: image/png
                        uri: 'https://upload.wikimedia.org/wikipedia/commons/0/00/Sunset%2C_beach%2C_Northern_Territory_.png'
                Video:
                  value:
                    id: 597f6eca-4576-1454-cf15-52cb3eba6b85
                    title: Video
                    description: The bunny example movie
                    tags:
                      - itk
                      - mock
                    modified: 1622554784
                    created: 1622556728
                    modifiedBy: Ole Olesen
                    createdBy: Jens Jensen
                    assets:
                      - type: video/mp4
                        uri: 'https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-media-id
      description: Get media object
  /v1/media:
    get:
      summary: Get list of media objects
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  media:
                    type: array
                    items:
                      $ref: ../model/media.v1.json
                  offset:
                    type: integer
                    format: int32
                    minimum: 0
                    readOnly: true
                  limit:
                    type: boolean
                required:
                  - offset
                  - limit
              examples:
                Media:
                  value:
                    media:
                      - id: 497f6eca-4576-4883-cfeb-53cbffba6f08
                        title: Sunset image
                        description: An image of a sunset
                        tags:
                          - itk
                          - example
                        modified: 1622556728
                        created: 1622550342
                        modifiedBy: Jens Jensen
                        createdBy: Ole Olesen
                        assets:
                          - type: image/png
                            uri: 'https://upload.wikimedia.org/wikipedia/commons/0/00/Sunset%2C_beach%2C_Northern_Territory_.png'
                      - id: 597f6eca-4576-1454-cf15-52cb3eba6b85
                        title: Video
                        description: The bunny example movie
                        tags:
                          - itk
                          - mock
                        modified: 1622554784
                        created: 1622556728
                        modifiedBy: Ole Olesen
                        createdBy: Jens Jensen
                        assets:
                          - type: video/mp4
                            uri: 'https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4'
                    offset: 0
                    limit: true
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      operationId: get-v1-media
      parameters:
        - schema:
            type: integer
            format: int32
            minimum: 0
          in: query
          name: offset
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          required: true
      description: Get media objects base on offset
components:
  schemas: {}
  parameters: {}
  examples: {}
  responses:
    '404':
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            '1':
              value:
                message: Not found
    '500':
      description: Internal error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
          examples:
            '1':
              value:
                message: Unknown internal application error
      headers: {}
  securitySchemes: {}
